interactions:
- request:
    body: null
    headers:
      Authorization:
      - sanitized
    method: GET
    uri: https://api.github.com/repos/thenewboston-developers/Core
  response:
    body:
      string: '{"id":483802719,"node_id":"R_kgDOHNY-Xw","name":"Core","full_name":"thenewboston-developers/Core","private":false,"owner":{"login":"thenewboston-developers","id":12706692,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNzA2Njky","avatar_url":"https://avatars.githubusercontent.com/u/12706692?v=4","gravatar_id":"","url":"https://api.github.com/users/thenewboston-developers","html_url":"https://github.com/thenewboston-developers","followers_url":"https://api.github.com/users/thenewboston-developers/followers","following_url":"https://api.github.com/users/thenewboston-developers/following{/other_user}","gists_url":"https://api.github.com/users/thenewboston-developers/gists{/gist_id}","starred_url":"https://api.github.com/users/thenewboston-developers/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenewboston-developers/subscriptions","organizations_url":"https://api.github.com/users/thenewboston-developers/orgs","repos_url":"https://api.github.com/users/thenewboston-developers/repos","events_url":"https://api.github.com/users/thenewboston-developers/events{/privacy}","received_events_url":"https://api.github.com/users/thenewboston-developers/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/thenewboston-developers/Core","description":"Core
        messaging server.","fork":false,"url":"https://api.github.com/repos/thenewboston-developers/Core","forks_url":"https://api.github.com/repos/thenewboston-developers/Core/forks","keys_url":"https://api.github.com/repos/thenewboston-developers/Core/keys{/key_id}","collaborators_url":"https://api.github.com/repos/thenewboston-developers/Core/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/thenewboston-developers/Core/teams","hooks_url":"https://api.github.com/repos/thenewboston-developers/Core/hooks","issue_events_url":"https://api.github.com/repos/thenewboston-developers/Core/issues/events{/number}","events_url":"https://api.github.com/repos/thenewboston-developers/Core/events","assignees_url":"https://api.github.com/repos/thenewboston-developers/Core/assignees{/user}","branches_url":"https://api.github.com/repos/thenewboston-developers/Core/branches{/branch}","tags_url":"https://api.github.com/repos/thenewboston-developers/Core/tags","blobs_url":"https://api.github.com/repos/thenewboston-developers/Core/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/thenewboston-developers/Core/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/thenewboston-developers/Core/git/refs{/sha}","trees_url":"https://api.github.com/repos/thenewboston-developers/Core/git/trees{/sha}","statuses_url":"https://api.github.com/repos/thenewboston-developers/Core/statuses/{sha}","languages_url":"https://api.github.com/repos/thenewboston-developers/Core/languages","stargazers_url":"https://api.github.com/repos/thenewboston-developers/Core/stargazers","contributors_url":"https://api.github.com/repos/thenewboston-developers/Core/contributors","subscribers_url":"https://api.github.com/repos/thenewboston-developers/Core/subscribers","subscription_url":"https://api.github.com/repos/thenewboston-developers/Core/subscription","commits_url":"https://api.github.com/repos/thenewboston-developers/Core/commits{/sha}","git_commits_url":"https://api.github.com/repos/thenewboston-developers/Core/git/commits{/sha}","comments_url":"https://api.github.com/repos/thenewboston-developers/Core/comments{/number}","issue_comment_url":"https://api.github.com/repos/thenewboston-developers/Core/issues/comments{/number}","contents_url":"https://api.github.com/repos/thenewboston-developers/Core/contents/{+path}","compare_url":"https://api.github.com/repos/thenewboston-developers/Core/compare/{base}...{head}","merges_url":"https://api.github.com/repos/thenewboston-developers/Core/merges","archive_url":"https://api.github.com/repos/thenewboston-developers/Core/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/thenewboston-developers/Core/downloads","issues_url":"https://api.github.com/repos/thenewboston-developers/Core/issues{/number}","pulls_url":"https://api.github.com/repos/thenewboston-developers/Core/pulls{/number}","milestones_url":"https://api.github.com/repos/thenewboston-developers/Core/milestones{/number}","notifications_url":"https://api.github.com/repos/thenewboston-developers/Core/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/thenewboston-developers/Core/labels{/name}","releases_url":"https://api.github.com/repos/thenewboston-developers/Core/releases{/id}","deployments_url":"https://api.github.com/repos/thenewboston-developers/Core/deployments","created_at":"2022-04-20T20:25:12Z","updated_at":"2024-02-22T16:54:16Z","pushed_at":"2023-02-01T00:18:40Z","git_url":"git://github.com/thenewboston-developers/Core.git","ssh_url":"git@github.com:thenewboston-developers/Core.git","clone_url":"https://github.com/thenewboston-developers/Core.git","svn_url":"https://github.com/thenewboston-developers/Core","homepage":null,"size":473,"stargazers_count":29,"watchers_count":29,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":13,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":10,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":13,"open_issues":10,"watchers":29,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"thenewboston-developers","id":12706692,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNzA2Njky","avatar_url":"https://avatars.githubusercontent.com/u/12706692?v=4","gravatar_id":"","url":"https://api.github.com/users/thenewboston-developers","html_url":"https://github.com/thenewboston-developers","followers_url":"https://api.github.com/users/thenewboston-developers/followers","following_url":"https://api.github.com/users/thenewboston-developers/following{/other_user}","gists_url":"https://api.github.com/users/thenewboston-developers/gists{/gist_id}","starred_url":"https://api.github.com/users/thenewboston-developers/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenewboston-developers/subscriptions","organizations_url":"https://api.github.com/users/thenewboston-developers/orgs","repos_url":"https://api.github.com/users/thenewboston-developers/repos","events_url":"https://api.github.com/users/thenewboston-developers/events{/privacy}","received_events_url":"https://api.github.com/users/thenewboston-developers/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":13,"subscribers_count":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3b13fd717bf1e3ac9ef867c50b203716cd0784e098acacbeae2d7a6c8b912b0e"
      Last-Modified:
      - Thu, 22 Feb 2024 16:54:16 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages,
        delete_repo, gist, notifications, project, repo, user, workflow, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1711634314'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - sanitized
    method: GET
    uri: https://api.github.com/repos/thenewboston-developers/Core/pulls?state=all&sort=created
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/thenewboston-developers/Core/pulls/6","id":916697177,"node_id":"PR_kwDOHNY-X842o7BZ","html_url":"https://github.com/thenewboston-developers/Core/pull/6","diff_url":"https://github.com/thenewboston-developers/Core/pull/6.diff","patch_url":"https://github.com/thenewboston-developers/Core/pull/6.patch","issue_url":"https://api.github.com/repos/thenewboston-developers/Core/issues/6","number":6,"state":"closed","locked":false,"title":"README
        updates","user":{"login":"buckyroberts","id":8547538,"node_id":"MDQ6VXNlcjg1NDc1Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/8547538?v=4","gravatar_id":"","url":"https://api.github.com/users/buckyroberts","html_url":"https://github.com/buckyroberts","followers_url":"https://api.github.com/users/buckyroberts/followers","following_url":"https://api.github.com/users/buckyroberts/following{/other_user}","gists_url":"https://api.github.com/users/buckyroberts/gists{/gist_id}","starred_url":"https://api.github.com/users/buckyroberts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/buckyroberts/subscriptions","organizations_url":"https://api.github.com/users/buckyroberts/orgs","repos_url":"https://api.github.com/users/buckyroberts/repos","events_url":"https://api.github.com/users/buckyroberts/events{/privacy}","received_events_url":"https://api.github.com/users/buckyroberts/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-04-22T18:14:34Z","updated_at":"2022-04-22T18:14:49Z","closed_at":"2022-04-22T18:14:47Z","merged_at":"2022-04-22T18:14:47Z","merge_commit_sha":"1fd07d5b7a55dab2e176740b070082feb23b4a6a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/thenewboston-developers/Core/pulls/6/commits","review_comments_url":"https://api.github.com/repos/thenewboston-developers/Core/pulls/6/comments","review_comment_url":"https://api.github.com/repos/thenewboston-developers/Core/pulls/comments{/number}","comments_url":"https://api.github.com/repos/thenewboston-developers/Core/issues/6/comments","statuses_url":"https://api.github.com/repos/thenewboston-developers/Core/statuses/30cc4984212b3e5d3ed1d9ebabc002787b27c00c","head":{"label":"thenewboston-developers:readme","ref":"readme","sha":"30cc4984212b3e5d3ed1d9ebabc002787b27c00c","user":{"login":"thenewboston-developers","id":12706692,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNzA2Njky","avatar_url":"https://avatars.githubusercontent.com/u/12706692?v=4","gravatar_id":"","url":"https://api.github.com/users/thenewboston-developers","html_url":"https://github.com/thenewboston-developers","followers_url":"https://api.github.com/users/thenewboston-developers/followers","following_url":"https://api.github.com/users/thenewboston-developers/following{/other_user}","gists_url":"https://api.github.com/users/thenewboston-developers/gists{/gist_id}","starred_url":"https://api.github.com/users/thenewboston-developers/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenewboston-developers/subscriptions","organizations_url":"https://api.github.com/users/thenewboston-developers/orgs","repos_url":"https://api.github.com/users/thenewboston-developers/repos","events_url":"https://api.github.com/users/thenewboston-developers/events{/privacy}","received_events_url":"https://api.github.com/users/thenewboston-developers/received_events","type":"Organization","site_admin":false},"repo":{"id":483802719,"node_id":"R_kgDOHNY-Xw","name":"Core","full_name":"thenewboston-developers/Core","private":false,"owner":{"login":"thenewboston-developers","id":12706692,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNzA2Njky","avatar_url":"https://avatars.githubusercontent.com/u/12706692?v=4","gravatar_id":"","url":"https://api.github.com/users/thenewboston-developers","html_url":"https://github.com/thenewboston-developers","followers_url":"https://api.github.com/users/thenewboston-developers/followers","[...]
